!!!
%html{:lang => "en"}
  %head
    / start: Meta
    %meta{:charset => "utf-8"}/
    %title Tajer | Dasboard - Welcome
    / end: Meta
    / start: Mobile Specific
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / end: Mobile Specific
    / start: CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/style-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "css/retina.css", :rel => "stylesheet"}/
    %link{:href => "styles/skeuocard.reset.css", :rel => "stylesheet"}/
    %link{:href => "styles/skeuocard.css", :rel => "stylesheet"}/
    %link{:href => "styles/demo.css", :rel => "stylesheet"}/
    / end: CSS
    / The HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link id="ie-style" href="css/ie.css" rel="stylesheet">
    /[if IE 9]
      <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    / start: Favicon and Touch Icons
    %link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "ico/favicon.png", :rel => "shortcut icon"}/
    / end: Favicon and Touch Icons
    / Load JS Script here
    %script{:src => "js/jquery.js"}
    %script{:src => "js/cookies/jquery.cookie.js"}
    %script{:src => "js/jquery.payment.js"}
    %script{:src => "js/tajer-js.js"}
  %body
    / start: Header
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a#main-menu-toggle.hidden-phone.open
            %i.icon-reorder
          .row-fluid
            %a.brand.span2{:href => "index.html"}
              %span Tajer
          / start: Header Menu
          .nav-no-collapse.header-nav
            %ul.nav.pull-right
              / end: Notifications Dropdown
              / start: Message Dropdown
              / start: User Dropdown
              %li.dropdown
                %a.btn.account.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                .user
                %ul.dropdown-menu
                  %li.dropdown-menu-title
                  %li
                    %a{:href => "#"}
                      %i.icon-user
                      Profile
                  %li
                    %a{:href => "#"}
                      %i.icon-cog
                      Settings
                  %li
                    %a{:href => "#"}
                      %i.icon-envelope
                      Messages
                  %li
                    %a{:onclick => "logout()"}
                      %i.icon-off
                      Logout
              / end: User Dropdown
          / end: Header Menu
    / start: Header
    .container-fluid-full
      .row-fluid
        / start: Main Menu
        #sidebar-left.span2
          .row-fluid.actions
            %input.search.span12{:placeholder => "...", :type => "text"}/
          .nav-collapse.sidebar-nav
            %ul.nav.nav-tabs.nav-stacked.main-menu
              %li
                %a{:href => "index.html"}
                  %i.icon-credit-card
                  %span.hidden-tablet Payments
              %li
                %a{:href => "customers.html"}
                  %i.icon-user
                  %span.hidden-tablet Customers
              %li
                %a{:href => "#"}
                  %i.icon-exclamation-sign
                  %span.hidden-tablet Events
              %li
                %a{:onclick => "logout();"}
                  %i.icon-lock
                  %span.hidden-tablet Logout
        / end: Main Menu
        / start: Content
        #content.span10
          / Create Payments
          .row-fluid
            %a.btn.btn.btn-primary.span3{"data-toggle" => "modal", :href => "#paymentModal"} Make Payment
          %hr/
          / View payments
          .row-fluid
            .box.span12
              .box-header{"data-original-title" => ""}
                %h2
                  %i.icon-credit-card
                  = succeed "View" do
                    %span.break
                  Payments
                .box-icon
                  %a.btn-setting{:href => "#"}
                    %i.icon-wrench
                  %a.btn-minimize{:href => "#"}
                    %i.icon-chevron-up
              .box-content
                %table#viewPayments.table.table-striped.table-bordered.bootstrap-datatable.datatable
                  %thead
                    %tr
                      %th Payment ID
                      %th Amount
                      %th Currency
                      %th Date of Payment
                      %th Paid
                  %tbody
            / /span
            / end: Content
          / /fluid-row
          #paymentModal.modal.hide.fade
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h3 Create Payment
            .createModal
              / Payment Form here
              .alert
              %h3 Payment Information
              %table#createTable
              #padding
                %tr
                  %td Amount:
                  %td
                    %input#amount.span5{:type => "text"}/
                %tr
                  %td Currency:
                  %td
                    %select#currency.span12{"data-placeholder" => "Currency", "data-rel" => "chosen"}
                      %option{:value => ""}
                      %optgroup{:label => "Currency"}
                        %option USD
                        %option JOD
              </div id="padding">
              %hr/
              %h3 Credit Card Information
              %table#createTable
              #padding
                %tr
                  %td Card Number:
                  / <td><input type="text" class="span9" id="cardNumber"></td>
                  %td
                    %input#cardNumber.span9{:autocompletetype => "cc-number", :pattern => "\\d*", :placeholder => "•••• •••• •••• ••••", :type => "text"}/
                  %td#cardTD
                    .span3.cardImg
                %tr
                  %td Expiry Date:
                  / <td><input type="text" class="span4" id="month" placeholder="MM"><b> / </b><input type="text" class="span4" id="year" placeholder="YY"></td>
                  %td
                    %input#expiry.span4{:pattern => "\\d*", :placeholder => "MM / YY", :type => "text", "x-autocompletetype" => "cc-exp"}/
                %tr
                  %td CVC:
                  %td
                    %input#cvv.span4{:autocomplete => "off", :maxlength => "4", :pattern => "\\d*", :type => "text", "x-autocompletetype" => "cc-csc"}/
            .form-actions
              %a.btn{"data-dismiss" => "modal"} Close
              %a#paymentSubmit.btn.btn-primary Complete Payment
        .clearfix
        %footer
          %p
            %span{:style => "text-align:left;float:left"}
              \&copy; 2013
              %a{:alt => "Bootstrap Themes", :href => "http://bootstrapmaster.com"} Tajer
      / /.fluid-container
      / start: JavaScript
      %script{:src => "js/skeuocard.js"}
      %script{:src => "js/vendor/cssua.min.js"}
      %script{:src => "js/jquery-migrate-1.0.0.min.js"}
      %script{:src => "js/jquery-ui-1.10.3.custom.min.js"}
      %script{:src => "js/jquery.ui.touch-punch.js"}
      %script{:src => "js/modernizr.js"}
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "js/jquery.cookie.js"}
      %script{:src => "js/fullcalendar.min.js"}
      %script{:src => "js/jquery.dataTables.min.js"}
      %script{:src => "js/excanvas.js"}
      %script{:src => "js/jquery.flot.js"}
      %script{:src => "js/jquery.flot.pie.js"}
      %script{:src => "js/jquery.flot.stack.js"}
      %script{:src => "js/jquery.flot.resize.min.js"}
      %script{:src => "js/jquery.flot.time.js"}
      %script{:src => "js/gauge.min.js"}
      %script{:src => "js/jquery.chosen.min.js"}
      %script{:src => "js/jquery.uniform.min.js"}
      %script{:src => "js/jquery.cleditor.min.js"}
      %script{:src => "js/jquery.noty.js"}
      %script{:src => "js/jquery.elfinder.min.js"}
      %script{:src => "js/jquery.raty.min.js"}
      %script{:src => "js/jquery.iphone.toggle.js"}
      %script{:src => "js/jquery.gritter.min.js"}
      %script{:src => "js/jquery.imagesloaded.js"}
      %script{:src => "js/jquery.masonry.min.js"}
      %script{:src => "js/jquery.knob.modified.js"}
      %script{:src => "js/jquery.sparkline.min.js"}
      %script{:src => "js/counter.min.js"}
      %script{:src => "js/raphael.2.1.0.min.js"}
      %script{:src => "js/justgage.1.0.1.min.js"}
      %script{:src => "js/jquery.autosize.min.js"}
      %script{:src => "js/retina.js"}
      %script{:src => "js/jquery.placeholder.min.js"}
      %script{:src => "js/wizard.min.js"}
      %script{:src => "js/core.min.js"}
      %script{:src => "js/charts.min.js"}
      %script{:src => "js/custom.min.js"}
      / end: JavaScript
